@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MVC_Homework.Models.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>你確定要刪除該筆資料?</h3>
<div>
    <h4>帳單刪除</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Billdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>