@model IEnumerable<MVC_Homework.Models.ViewModels.AccountViewModel>

<table class="table table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <th class="text-left">#</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Category)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Billdate)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Amount)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.Remark)</th>
        </tr>
    </thead>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            <tr>
                <th class="text-left">@(i++)</th>
                <td class="@(item.Category=="0" ? "text-center text-danger" : "text-center text-info")">@(@item.Category == "0" ? "支出" : "收入")</td>
                <td class="text-center">@item.Billdate.ToString("yyyy-MM-dd")</td>
                <td class="text-right">@item.Amount.ToString("#,0")</td>
                <td class="text-right">@item.Remark</td>
            </tr>
        }
    }
</table>

