@using PagedList
@using PagedList.Mvc
@model IPagedList<MVC_Homework.Models.ViewModels.AccountViewModel>

<table class="table table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <th class="text-left">#</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.FirstOrDefault().Category)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.FirstOrDefault().Billdate)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.FirstOrDefault().Remark)</th>
        </tr>
    </thead>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            <tr>
                <th class="text-left">@(i++)</th>
                @AccountCategoryColor.DisplayAccountCategoryColor(@item.Category)
                <td class="text-center">@item.Billdate.ToString("yyyy-MM-dd")</td>
                <td class="text-right">@item.Amount.ToString("#,0")</td>
                <td class="text-right">@item.Remark</td>
            </tr>
        }
    }
</table>
@Html.PagedListPager(list: Model, generatePageUrl: page => Url.Action("BillPage", new { page }))