@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MVC_Homework.Models.ViewModels.AccountViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="well row">
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">                
                @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.Category, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "金額" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class= "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Billdate, new { htmlAttributes = new { @class = "form-control", @placeholder = "日期" } })
                @Html.ValidationMessageFor(model => model.Billdate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", @placeholder = "備註" } })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default btn-primary">送出</button>
            </div>
        </div>
    </div>
    <br />
    <div>
        @Html.Action("BillPage") 
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


